.app {
  background-color: black;
  display: inline;
}

.app_body {
  color: #e0d9d9;
  background-color: rgb(22, 22, 22);
  background-image: url("../svg/modified-overlay.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* z-index: -1; */
  min-height: 100vh;
}

.body_components {
  align-items: center;
  justify-content: center;
  /* background-color: rgb(88, 88, 88); */
  /* width: calc(100% - 65vh); */
  padding-top: 100px;
}

@media only screen and (max-width:1500px) {
  .body_components {
    /* width: calc(100% - 5vh); */
  }
}